/* Main CSS Document for CUES Online University Home page and main pages - David Stone */

body {
	background-color: #ddd;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 10px auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a:link {
	color: #336699;
	text-decoration: underline;
}

a:visited {
	color: #333366;
}

a:active {
	color: #CC9900;
}

a:hover {
	text-decoration: none;
}

a.backtotop {
	background-image: url(/images/cuesplus/css-images/backtotop.gif);
	background-repeat: no-repeat;
	background-position: left;
	clear: both;
	float: right;
	font-size: 80%;
	padding: 0 0 0 18px;
}

p {
	margin: 0 0 1em 0;
}

span.imgtxt {
	display: none;
}

.login {
	outline: none;
}

.note {
		background-image: url(/images/cuesplus/css-images/note.gif);
		background-repeat: no-repeat;
		background-position: left;
		padding: 0 0 0 30px;
}

/*.checkmark {
	background-image: url(/images/cuesplus/css-images/checkmark.gif);
	background-repeat: no-repeat;
	display: block;
	height: 13px;
	width: 15x;
}*/

a.button {
	background-image: url(/images/cuesplus/css-images/button.jpg);
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: bold;
	height: 27px;
	display: block;
	padding: 11px 0 0 7px;
	text-align: center;
	text-decoration: none;
	color: #336699;
	width: 125px;
}

.clear {
	clear: left;
}

/* MAIN STUCTURE */

#wrapper {
	margin: 0 auto;
	width: 760px;
}

#main-wrapper {
	float: left;
	margin: 0 auto;
	position: relative;
	width: 760px;
}

#header {
	background-image: url(/images/cuesplus/css-images/header-bg.jpg);
	background-repeat: no-repeat;
	height: 135px;
	width: 760px;
}

#header input {
	float: right;
	margin: 30px 30px 0 0;
}

#logo {
	background-image: url(/images/cuesplus/css-images/cuesuplus.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 64px;
	left: 25px;
	outline: none;
	position: absolute;
	top: 20px;
	width: 300px;
	z-index: 99;
}

#content {
	background-image: url(/images/cuesplus/css-images/content-bg.jpg);
	background-repeat: repeat-y;
	float: left;
	margin: 0;
	padding: 7px 0 0 0;
	width: 760px;
}

#content #main-image {
	background-image: url(/images/cuesplus/css-images/main-img.jpg);
	background-repeat: no-repeat;
	height: 263px;
	margin: 0 0 0 12px;
	width: 736px;
}

#content #text {
	border-right: 1px dotted #ccc;
	font-size: 90%;
	margin: 0 225px 0 auto;
	padding: 15px 10px 10px 30px;
}

#content #text-home, #content #text-wide {
	font-size: 90%;
	margin: 0 auto;
	padding: 15px 30px 10px 30px;
}

#content #text-home h2, #content #text-wide h2 {
	color: #624d7f;
	font-size: 110%;
	margin: 0 0 5px 0;
}

#content #right-column {
	float: right;
	font-size: 90%;
	margin: 0;
	padding: 15px 28px 0 0;
	width: 176px;
}

#content #right-column .box {
	margin: 0 0 20px 0;
}

#content #right-column .box-top {
	background-image: url(/images/cuesplus/css-images/rc-box-top.jpg);
	background-repeat: no-repeat;
	height: 18px;
	width: 176px;
}

#content #right-column .box-content {
	background-color: #fff;
	background-image: url(/images/cuesplus/css-images/rc-box-repeat.jpg);
	background-repeat: repeat-y;
	font-size: 80%;
	height: auto;
	padding: 0 15px;
	text-align: center;
	width: 146px;
}

#content #right-column .box-content h3 {
	font-size: 100%;
}

#content #right-column h5.lightbulb {
	background-image: url(/images/cuesplus/css-images/light-bulb.gif);
	background-repeat: no-repeat;
	background-position: top center;
	color: #624d7f;
	display: block;
	font-size: 100%;
	margin: 0;
	padding: 21px 0 0 0;
}

#content #right-column .box-btm {
	background-image: url(/images/cuesplus/css-images/rc-box-btm.jpg);
	background-repeat: no-repeat;
	height: 18px;
	width: 176px;
}

#content #right-column h2 {
	color: #624d7f;
	font-size: 100%;
	margin: 0 0 5px 0;
}

#content #right-column h2.smaller {
  font-size: 95%;
}

#content #text h2, #content #text-wide h2 {
	color: #624d7f;
	font-size: 110%;
	margin: 0 0 5px 0;
}

#content #text h3, #content #text-wide h3 {
	color: #777;
	font-size: 100%;
	margin: 0 0 5px 0;
}

#content #text img, #content #text-wide img {
	border: 1px solid #ccc;
	float: right;
	margin: 15px;
}

#content #text img.left {
	border: 1px solid #ccc;
	float: left;
	margin: 15px;
}

#content #text .insight-box {
	background-color: #b6dde8;
	border: 2px solid #93c1ce;
	float: right;
	font-size: 80%;
	height: 130px;
	margin: 10px;
	padding: 15px;
	width: 200px;
}

#content-btm {
	clear: both;
	background-image: url(/images/cuesplus/css-images/content-btm.jpg);
	background-repeat: no-repeat;
	height: 20px;
	margin: 0 auto;
	width: 760px;
}

#purple-boxes {
	font-size: 80%;
	height: 110px;
	margin: 0 0 0 12px;
	padding: 0;
}

#purple-boxes h1 {
	color: #cccc99;
	font-size: 110%;
	margin: 0 0 3px 0;
	text-align: center;
}

#purple-boxes ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#purple-boxes ul li {
	color: #fff;
	float: left;
	position: relative;
}

#purple-boxes ul li a.arrow {
	background-image: url(/images/cuesplus/css-images/arrow.jpg);
	background-repeat: no-repeat;
	bottom: 10px;
	color: #fff;
	display: block;
	font-size: 85%;
	height: 17px;
	outline: none;
	position: absolute;
	right: 20px;
	text-align: right;
}

#purple-boxes ul li.left {
	background-image: url(/images/cuesplus/css-images/box1.jpg);
	background-repeat: no-repeat;
	height: 95px;
	padding: 5px 25px 10px 15px;
	width: 201px;
}

#purple-boxes ul li.left a.arrow {
	padding: 0 0 0 25px;
}

#purple-boxes ul li.mid {
	background-image: url(/images/cuesplus/css-images/box2.jpg);
	background-repeat: no-repeat;
	height: 95px;
	padding: 5px 25px 10px 25px;
	width: 204px;
}

#purple-boxes ul li.mid a.arrow {
	padding: 0 0 0 25px;
	right: 22px;
}

#purple-boxes ul li.right {
	background-image: url(/images/cuesplus/css-images/box3.jpg);
	background-repeat: no-repeat;
	height: 95px;
	padding: 5px 15px 10px 25px;
	width: 201px;
}

#purple-boxes ul li.right a.arrow {
	padding: 0 0 0 25px;
	right: 10px;
}

#bottom-boxes {
	height: 70px;
	margin: 0 0 0 12px;
	padding: 0 0 0 20px;
}

#bottom-boxes ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#bottom-boxes ul li {
	background-image: url(/images/cuesplus/css-images/footer-box.jpg);
	background-repeat: no-repeat;
	color: #fff;
	float: left;
	font-size: 70%;
	height: 56px;
	list-style-type: none;
	padding: 5px 25px 5px 25px;
	width: 288px;
}

#bottom-boxes ul li.left {
	margin: 0 20px 0 0;
}

#bottom-boxes ul li.right {
}

#footer {
	clear: both;
	color: #777;
	font-size: 60%;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	width: 740px;
}

#footer a {
	text-decoration: underline;
}

#footer a:hover {
	text-decoration: none;
}

/* Individual Page Styles */

/* Online Training */

#content #text img.training {
	float: none;
}

table#training {
	border: 1px solid #4f81bd;
	border-right: 0;
	border-collapse: collapse;
	font-size: 90%;
	margin: 0 auto 20px auto;
	width: 100%;
}

table#training th {
	border-bottom: 2px solid #4f81bd;
	border-right: 1px solid #4f81bd;
	padding: 5px;
}

table#training th.left {
	width: 70%;
}

table#training th.right {
	width: 30%;
}

table#training td.checkmark {
	background-image: url(/images/cuesplus/css-images/checkmark.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

table#training td {
	border-right: 1px solid #4f81bd;
	font-size: 90%;
	padding: 5px;
}

table#training tr.odd {
	background-color: #d3dfee;
}

.box-content .pull-quote {
	background-color: #f1f1f1;
	padding: 10px;
}

.box-content .pull-quote h3 {
	font-size: 200%;
	margin: 0;
	padding: 0;
}


/* DigitalPlus Page */

table#lms {
	border: 1px solid #4f81bd;
	border-right: 0;
	border-collapse: collapse;
	font-size: 90%;
	margin: 0 auto 20px auto;
	width: 100%;
}

table#lms th {
	border-bottom: 2px solid #4f81bd;
	border-right: 1px solid #4f81bd;
	padding: 5px;
}

table#lms th.one {
	width: 55%;
}

table#lms th.two {
	width: 15%;
}

table#lms th.three {
	width: 15%;
}

table#lms th.four {
	width: 15%;
}

table#lms td {
	border-right: 1px solid #4f81bd;
	font-size: 90%;
	padding: 5px;
}

table#lms td.checkmark {
	background-image: url(/images/cuesplus/css-images/checkmark.gif);
	background-repeat: no-repeat;
	background-position: center;
}

table#lms td.red {
	background-color: #ddd;
	color: #c00000;
	font-weight: bold;
}

table#lms td.brown {
	background-color: #ddd;
	color: #984806;
	font-weight: bold;
}

table#lms tr.odd {
	background-color: #d3dfee;
}

/* Regulatory Update page under NEWS section */

#reg-updates {
	background-color: #ededed;
	border: 1px solid #ccc;
	padding: 5px;
}

#reg-updates h3 {
	background-color: #fff;
	color: #333 !important;
	padding: 2px 5px;
}

ul.regulatory {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.regulatory li {
	background-color: #B4D2EF;
	border: 1px solid #f5f5f5;
	font-size: 90%;
	margin: 0 0 20px 0;
	padding: 10px;
}

/* What's New Page */

ul#whatsnew-top {
	background-color: #f1f1f1;
	border: 1px solid #624D7F;
	padding: 10px 0 5px 40px;
	width: 210px;
}

ul#whatsnew-top li {
	list-style-image: url(/images/cuesplus/css-images/checkmark.gif);
	font-weight: bold;
	margin: 0 0 10px 0;
} 

ul#whatsnew {
	font-size: 90%;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#whatsnew strong {
	color: #624D7F;
	font-size: 110%;
}

ul#whatsnew li {
	margin: 0 0 20px 0;
}

ul#whatsnew ul {
	list-style: disc;
}

ul#whatsnew ul ul {
	margin: 5px 0;
	padding: 10px 10px 10px 20px;
	background-color: #f1f1f1;
}

ul#whatsnew ul li {
	margin: 0 0 10px 0;
}

ul#whatsnew ul strong {
	font-size: 90%;
	color: #333;
}

/* Curriculum Preview page */

.curriculum {
}

.curriculum h3 {
	color: #333;
}

.curriculum > p:first-child {
	background-color: #f1f1f1;
	margin: 0 0 .5em 0;
	padding: 2px;
}

.curriculum .sliding li {
	list-style-type: none;
	margin: 0 0 2px 0;
}


/* Compliance Center Pages */

.compsection {
}

.compection h3 {
	color: #333;
}

.compsection > p:first-child {
	background-color: #f1f1f1;
	margin: 0 0 .5em 0;
	padding: 2px;
}

.sliding {
	background-color: #eee;
	margin: 10px 0;
	padding: 15px;
	border: 1px solid #ccc;
	display: none;
}

.sliding li {
	font-size: 80%;
}

.close-x {
	background-image: url(/images/cuesplus/css-images/close-x-grey.gif);
	background-repeat: no-repeat;
	background-position: left;
	font-size: 80%;
	padding: 3px 3px 3px 15px;
}

span.pdf {
	background-image: url(/images/cuesplus/css-images/pdf.gif);
	background-repeat: no-repeat;
	background-position: right;
	display: inline-table;
	padding: 0 20px 0 0;
}

/* Regulator Page */

table.regulator {
	border: 1px solid #4f81bd;
	border-right: 0;
	border-collapse: collapse;
	font-size: 90%;
	margin: 0 auto 20px auto;
	width: 99%;
}

table.regulator th {
	border-bottom: 2px solid #4f81bd;
	border-right: 1px solid #4f81bd;
	padding: 5px;
}

table.regulator th.left {
	width: 49%;
}

table.regulator th.right {
	width: 50%;
}

table.regulator td {
	border-right: 1px solid #4f81bd;
	font-size: 90%;
	padding: 5px;
}

table.regulator td.two-cols {
	background-color: #f1f1f1;
	border-bottom: 1px solid #4f81bd;
	border-top: 1px solid #4f81bd;
	color: #000066;
	text-align: center;
}

table.regulator td.checkmark {
	background-image: url(/images/cuesplus/css-images/checkmark.gif);
	background-repeat: no-repeat;
	background-position: center;
}

table.regulator td.red {
	background-color: #ddd;
	color: #c00000;
	font-weight: bold;
}

table.regulator td.brown {
	background-color: #ddd;
	color: #984806;
	font-weight: bold;
}

table.regulator tr.odd {
	background-color: #d3dfee;
}

/* FREE TRIAL PAGE - FORM */

#free-trial {
	border: 1px solid #ddd;
	float: left;
	font-size: 85%;
	margin: 0;
	padding: 20px;
	width: 660px;
}

#free-trial form, input, select, textarea {
	margin: 0;
	padding: 0;
}

#free-trial td.label {
	text-align: right;
	padding-right: 5px;
}

#free-trial td {
	width: 160px;
}

#free-trial .attention {
	color: #FF0000;
}

#free-trial input[type=text], label {
	width: 120px;
}

#free-trial td {
	margin: 0;
	padding: 5px 1px;
}

/*#free-trial select, option {
	font-size: 95%;
}*/

#free-trial input[type=text], select, textarea {
	border: 1px solid #564474;
	background-color: #eee;
}

#free-trial label.error {
	color: #FF0000;
	display: block;
	font-size: 90%;
	width: 160px;
}


/* PACESETTER PAGE */

ul.sub {
	font-size: 90%;
	margin: 0;
	padding: 2px 0 0 20px;
}

.infobox {
	background-color: #b6dde8;
	border: 2px solid #93c1ce;
	float: right;
	font-size: 80%;
	margin: 10px;
	padding: 15px;
	text-align: center;
	width: 150px;
}

.infobox h4 {
	color: #FF0000;
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.orderpacesetter {
}

#order-pacesetter table {
	width: 99%;
}

#order-pacesetter label.error {
	display: block;
	font-size: 80%;
	color: #ff0000;
	margin-left: 20px;
}

#order-pacesetter .attention {
	color: #FF0000;
}

#order-pacesetter td {
	font-size: 90%;
	margin: 0 0 0 0;
	padding: 5px 3px;
}

#order-pacesetter td.label {
	text-align: right;
}

#order-pacesetter input[type=text], select, textarea {
	border: 1px solid #564474;
	background-color: #fff;
}

#order-pacesetter table.peer {
	padding: 5px;
	border: 1px solid #fff;
}

#order-pacesetter table.peer th {
	color: #777;
	font-size: 90%;
	text-align: center;
}

#order-pacesetter input[type=submit], #order-pacesetter input[type=reset] {
	float: right;
}

#order-pacesetter table.peer label, #order-pacesetter table.peer input[type=text] {
}

/* E-news Signup */

#e-news {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 15px;
}

#e-news td {
	font-size: 90%;
	margin: 0 0 0 0;
	padding: 5px 3px;
	text-align: right;
	width: 165px;
}

#e-news input[type=text] {
	border: 1px solid #564474;
	background-color: #eee;
}

#e-news input[type=radio] {
	margin: 0 0 0 15px;
}

#e-news label.error {
	display: block;
	font-size: 80%;
	color: #ff0000;
	margin-left: 20px;
}

#e-news .attention {
	color: #FF0000;
}

/* FEEDBACK PAGE */

#feedback-form {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 15px 10px;
}

#feedback-form td {
	font-size: 90%;
	margin: 0 0 0 0;
	padding: 5px 3px;
}

#feedback-form td.label {
	text-align: right;
}

#feedback-form label {
}

#feedback-form input[type=text] {
	border: 1px solid #564474;
	background-color: #eee;
}

#feedback-form input[type=radio] {
	margin: 0 0 0 15px;
}

#feedback-form label.error {
	display: block;
	font-size: 80%;
	color: #ff0000;
	margin-left: 20px;
}

#feedback-form .attention {
	color: #FF0000;
}

#feedback-form .radio {
}

#feedback-form .radio label.error {
	display: block;
	font-size: 80%;
	color: #ff0000;
	float: left;
	margin: -15px 0 0 110px;
}

#feedback-form .feedback {
}

#feedback-form .feedback label.error {
	margin: 0;
	position: relative;
	top: -66px;
	left: 30px;
	padding: 3px;
}

/* EMPLOYEE LOGIN */

#newEmp {
	float: left;
	margin: 0 0 0 0;
}


#newEmp input[type=text] {
	background-color: #eee;
	border: 1px solid #336699;
	float: left;
	height: 24px;
	margin: 6px 10px 0 0;
	padding: 4px 0 0 0;
	width: 90px;
}

#newEmp input[type=submit] {
	background-image: url(/images/cuesplus/css-images/button.jpg);
	background-repeat: no-repeat;
	border: none;
	color: #336699;
	cursor: pointer;
	display: block;
	float: left;
	font-weight: bold;
	height: 38px;
	padding: 0 0 0 20px;
	width: 132px;
}

#newEmp input[type=button] {
	background-image: url(/images/cuesplus/css-images/button.jpg);
	background-repeat: no-repeat;
	border: none;
	color: #336699;
	cursor: pointer;
	display: block;
	font-weight: bold;
	height: 38px;
	padding: 0 0 0 20px;
	width: 132px;
}

#newEmp label.error {
	color: #FF0000;
	float: left;
	font-size: 80%;
	font-weight: bold;
	padding: 10px 0 0 0;
	width: 130px;
}

/* NAVIGATION */

#nav {
	margin: 0 auto;
	padding: 105px 0 0 5px;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 100;
}
#nav ul li {
	float: left;
	list-style-type: none;
}

#nav ul li a {
	background-image: url(/images/cuesplus/css-images/nav-bar-sprite.jpg);
	background-position: 0 0;
	color: #fff;
	display: block;
	font-size: 90%;
	font-weight: bold;
	height: 23px;
	outline: none;
	padding: 7px 0 0 0;
	text-align: center;
	text-decoration: none;
	width: 150px;
}

#nav ul li a.nopointer {
	cursor: text;
}

#nav ul li a:hover {
	background-position: 0 -30px;
}

#nav li ul {
	border-top: 1px solid #333;
	position: absolute;
	width: 150px;
	left: -999em;
}

#nav li ul li a {
	background-image: none;
	background-color: #000;
	border: 1px solid #333;
	border-top: 0;
	font-size: 70%;
	font-weight: bold;
	width: 148px;
}

#nav li ul li a:hover {
	background-color: #493664;
	color: #FFFF99;
	font-weight: bold;
}

#nav li:hover ul {
	left: auto;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}