<% content_for :title, "Curriculum Preview - " + @site.official_name %>
<% content_for :content_for_head do %>
<%= render :partial => @site.get_view('_text_toggle'), :locals => { :parent_div => ".curriculum" } %>
<% end %>
<div id="text-wide">
<h2>Curriculum Preview</h2>

<p>Digital University was designed specifically for financial professionals working in the financial services industry. To assist busy managers, we have developed suggested curricula. These are only suggestions and should be modified depending on the learning needs and current knowledge of your employees. <strong>With over 150 courses available, you can easily create curricula tailored to meet your firm's specific needs.</strong> The table below provides suggested curricula for most professionals found in financial institutions. Click on a job area to expand the suggested Digital University courses.</p>
<h3>Job Area</h3>

<% CourseJobTitle.all.each do |cjt| %>
  <% cjt_courses = cjt.courses_for_site(@site) %>
  <% unless cjt_courses.size < 1 %>
    <div class="curriculum">
    <p><a href="#" onclick="toggleRegs(this); return false;"><%=h cjt.name %></a></p>
    <div class="sliding">
    <h3><%=h cjt.name %> Course Titles</h3>
    <ul>
    <% cjt_courses.each do |cjt_course| %>
      <li><%=h cjt_course.metadata.course_name %></li>
    <% end %>
    </ul>
    <p><a href="#" onclick="toggleRegs(this); return false" class="close-x">Close</a></p>
    </div><!-- end sliding -->
    </div><!-- end curriculum -->
    <% end %>
<% end %>

<p><a href="#top" class="backtotop">Back to Top</a></p>
</div><!-- end text -->