<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Digital University CMS - Login</title>
<%= stylesheet_link_tag 'admin' %>	  
</head>
<body>
<div id="header">
	<h2>Digitu CMS</h2>
</div> 
<div class="colmask leftmenu"> 
    <div class="colright"> 
        <div class="col1wrap"> 
            <div class="col1"> 
                <!-- Column 2 start --> 
                <div id="content">
					<% unless flash[:notice].blank? %><p class="flash_notice"><%= flash[:notice] %></p><% end %>
					<% unless flash[:warning].blank? %><p class="flash_warning"><%= flash[:warning] %></p><% end %>
				<%= yield %>
			</div><!-- end content -->
				<!-- Column 2 end --> 
            </div> 
        </div> 
        <div class="col2"> 
            <!-- Column 1 start --> 
				
			<!-- Column 1 end --> 
        </div> 
    </div> 
</div> 
<div id="footer"> 
</div>
</body>
</html>